# Useful `.gitignore` templates:
#   - https://github.com/github/gitignore


# OSX       taken from: https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
# ----------------------------------------------------------------------------------------------
._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Windows   taken from: https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# ----------------------------------------------------------------------------------------------
Desktop.ini
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/

# Linux
# ----------------------------------------------------------------------------------------------
*~


# Tags      taken from: https://github.com/github/gitignore/blob/master/Global/Tags.gitignore
# ----------------------------------------------------------------------------------------------
# Ignore tags created by etags and ctags
TAGS
tags

# Vim       taken from: https://github.com/github/gitignore/blob/master/Global/vim.gitignore
# ----------------------------------------------------------------------------------------------
.*.sw[a-z]
.netrwhist
*.un~
Session.vim

# Projects: common ignored files
# ----------------------------------------------------------------------------------------------
temp
node_modules
app/assets/css/
app/assets/vendor/
app/assets/js/
app/assets/**/*.html