extends ../layouts/default.pug

block head
    link(rel="stylesheet", href="/assets/css/layouts/404.min.css")

block content
    div.page-404
        h1 Page Not Found
        p Sorry, but the page you were trying to view does not exist.