/* Layout Home
––––––––––––––––––––––––––––––––––––––––––––––––––  */

.home{
    &__intro{
        margin-top: 9%;
        @media (min-width: 992px) {
            width: 50%;
        }    
        &-title{
            text-align: center;
            color: #000;
            font-weight: normal;            
        }
        &-content{
            text-align: center;
            color: $content_text-color;
            font-size: 1.8rem;
            font-weight: lighter;
            a{
                text-decoration: none;
                color: #3c7ad6;
                &:hover{
                    color: #36c43d; 
                }
            }                        
        }
    }
    &__info{
        &-link{
            width: 134px;
        }
    }
}
