// llustrative code - Skeleton Go!Sync [Remove this code]
.about{
    // Navbar fixed top
    padding-top: 8%;

    font-family: 'Roboto', sans-serif;
    &__text{
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-size: 1.4rem;
    }
}