// llustrative code - Skeleton Go!Sync [Remove this code]
// .home{
//     &__intro{
//         // height: 500px;
//         font-family: 'Roboto', sans-serif;
//         @media (min-width: 992px) {
//             width: 50%;
//         }
        
//         &__title, &__content {
//             text-align: center;
//         }
//         &__title{
//             color: black;
//             font-weight: normal;
//         }
//         &__content{
//             color: #1d1d1d;
//             font-size: 1.8rem;
//             font-weight: lighter;
//             a{
//                 text-decoration: none;
//                 color: #3c7ad6;
//                 &:hover{
//                     color: black; 
//                 }
//             }
//         }
//     }
// }

.home{
    font-family: 'Roboto', sans-serif;
    // height: 500px;
    // padding-top: 200px;
    &__intro{
        @media (min-width: 992px) {
            width: 50%;
        }         
        &-wrapper{}
        &-title{
            text-align: center;
            color: black;
            font-weight: normal;            
        }
        &-content{
            text-align: center;
            color: #1d1d1d;
            font-size: 1.8rem;
            font-weight: lighter;
            a{
                text-decoration: none;
                color: #3c7ad6;
                &:hover{
                    color: black; 
                }
            }                        
        }
    }
    &__info{
        &-wrapper{}
        &-link{
            width: 134px;
        }
    }
}
