/* Options
––––––––––––––––––––––––––––––––––––––––––––––––––  */

$fixed-nav: false !default;

// Global
$content_text-color:  #1d1d1d;

// Navbar
$navbar-background: #ffffff;
$navbar-box-shadow: 0 11px 15px -6px #e9e9e9;
$navbar-brand-color: #000;
$navbar-brand-color-hover: #000;
$navbar-brand-font-weigh: bold;
$navbar-brand-font-size: 1.2rem;
$navbar-link-color: #3a7fce;
$navbar-link-color-hover:#000;
$navbar-link-font-size: 1.44rem;
$navbar-link-font-weigh: lighter;


// Footer
$footer-background: #f0f0f0;
$footer-font-weight: lighter;
$footer-text-color: #000;
$footer-link-color: #3a7fce;
$footer-link-color-hover: #000;