<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
  <html class="no-js" lang=""> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="author" href="humans.txt">
      <title>Skeleton Go!Sync - Page Not Found</title>

      <!-- Stylesheets Normalize
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="stylesheet" href="assets/vendor/normalize/normalize.min.css">

        <!-- Stylesheets Custom
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="stylesheet" href="assets/css/style.min.css">

      <!-- Modernizr
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <script src="assets/vendor/modernizr/modernizr.min.js"></script>
    </head>
    <body>

      <!-- Main - Add content here down
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->


        <!-- Illustrative code - Skeleton Go!Sync [Remove this code]-->
        <main>
          <h1>Error 404 - Page Not Found</h1>
          <p>Sorry, but the page you were trying to view does not exist.</p>
            <span><a href="/">Go To Home</a></span>
          </p>
        </main>
        <!-- Illustrative code - Skeleton Go!Sync [Remove this code]-->




      <!-- JQuery
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/vendor/jquery/jquery.min.js"><\/script>')</script>

      <!-- JavaScripts Custom
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <script src="assets/js/scripts.min.js"></script>

    </body>
  </html>