<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
  <html class="no-js" lang=""> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="author" href="humans.txt">
      <title>Skeleton Go!Sync</title>

      <!-- Stylesheets Normalize
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="stylesheet" href="assets/vendor/normalize/normalize.min.css">

      <!-- Stylesheets Custom
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="stylesheet" href="assets/css/style.min.css">

      <!-- Modernizr
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <script src="assets/vendor/modernizr/modernizr.min.js"></script>
    </head>
    <body>

      <!-- Add content here down
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->


        <!-- Illustrative code - Skeleton Go!Sync [Remove this code]-->
        <main>
          <h1>'< Skeleton Go!Sync />'</h1>
          <p>Simple boilerplate with <a href="http://gulpjs.com/" target="_blank">Gulp</a> and <a href="https://www.browsersync.io/" target="_blank">Browser Sync</a> for projects HTML.</p>
            <span><a href="https://github.com/williamcanin/skeleton-gosync" target="_blank">View in GitHub</a></span>
            <span><a href="https://github.com/williamcanin/skeleton-gosync/issues">Report issues</a></span>
          </p>
        </main>
        <!-- Illustrative code - Skeleton Go!Sync [Remove this code]-->



      <!-- JQuery
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/vendor/jquery/jquery.min.js"><\/script>')</script>

      <!-- JavaScripts Custom
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <script src="assets/js/scripts.min.js"></script>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
      </script>
    </body>
  </html>