extends ../templates/layouts/main.pug

block content
    div.error404
        div.container
            div.row
                div.error404__content
                    h1 Page Not Found
                    p Sorry, but the page you were trying to view does not exist.
