extends ../templates/layouts/main.pug

//- You can add another navbar through the "navbar block" below.
block navbar

block content
    //- This is an example page.
    div.error404
        div.container.d-flex.justify-content-center
            div.row.align-items-center
                div.error404__content
                    h1 Page Not Found
                    p Sorry, but the page you were trying to view does not exist.
