extends ../templates/layouts/main.pug

//- Content
block content

    div.home
        section.container.d-flex.justify-content-center.home__intro
            div.row.align-items-center
                div.col-md-12
                    h1.home__intro-title < Skeleton Go!Sync />
                    p.home__intro-content Simple boilerplate with 
                        a(href="http://getbootstrap.com", target="_blank") Twitter Bootstrap
                        | ,                 
                        a(href="http://pugjs.org", target="_blank") Pug
                        | , 
                        a(href="https://gulpjs.com", target="_blank") Gulp
                        | , and 
                        a(href="https://www.browsersync.io/", target="_blank") Browser Sync
                        |  for projects HTML static.

        section.container.d-flex.justify-content-center.home__info
            div.row.d-flex.align-self-center
                div.col-6
                    span
                        a.btn.btn-primary.home__info-link(href="https://github.com/williamcanin/skeleton-gosync", 
                        target="_blank") View in GitHub
                div.col-6
                    span
                        a.btn.btn-success.home__info-link(href="https://github.com/williamcanin/skeleton-gosync/issues",
                        target="_blank") Report issues
    
