// llustrative code - Skeleton Go!Sync [Remove this code]
@import "options";

.footer{
    font-weight: lighter;
    background-color: #f0f0f0;
    height: 25px;
    &__link{
        text-decoration: none;
        &:hover{
            color: black;
            text-decoration: none;
        }
    }
}