// llustrative code - Skeleton Go!Sync [Remove this code]
.nav{
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: 0 8px 6px -6px #999 !important;
    -moz-box-shadow: 0 8px 6px -6px #999 !important;
    box-shadow: 0 8px 6px -6px #999 !important;
    border-bottom: 2px solid black;
    &__brand{
       color: black;
       font-size: 1.2rem;
       font-weight: bold;
       &:hover{
           color: #000000; 
       }
    }
    &__link{
        font-weight: lighter;
        color: #3a7fce;
        font-size: 1.44rem;
        &:hover{
            color: black;
        }
    }
}