extends ../../templates/layouts/main.pug

block content

    div.contact
        div.container
            div.row
                div.contact__content
                    h1 Contact
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus id iste quos? Aut, tempora. Ad, iusto? Veritatis blanditiis explicabo saepe laborum? Ex provident nam quo similique obcaecati ullam quibusdam?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus id iste quos? Aut, tempora. Ad, iusto? Veritatis blanditiis explicabo saepe laborum? Ex provident nam quo similique obcaecati ullam quibusdam?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus id iste quos? Aut, tempora. Ad, iusto? Veritatis blanditiis explicabo saepe laborum? Ex provident nam quo similique obcaecati ullam quibusdam?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus id iste quos? Aut, tempora. Ad, iusto? Veritatis blanditiis explicabo saepe laborum? Ex provident nam quo similique obcaecati ullam quibusdam?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus id iste quos? Aut, tempora. Ad, iusto? Veritatis blanditiis explicabo saepe laborum? Ex provident nam quo similique obcaecati ullam quibusdam?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus id iste quos? Aut, tempora. Ad, iusto? Veritatis blanditiis explicabo saepe laborum? Ex provident nam quo similique obcaecati ullam quibusdam?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus id iste quos? Aut, tempora. Ad, iusto? Veritatis blanditiis explicabo saepe laborum? Ex provident nam quo similique obcaecati ullam quibusdam?

block scripts
    script(src="/assets/js/contact.min.js")