<!DOCTYPE html>
html.no-js(lang="en")
    include ../includes/head.pug
    body
        //- URL your site.
        include ../../../lib/python/url.pug 
        - var baseurl = "/";
        
        //- Include navbar global.
        include ../includes/navbar.pug 

        //- Create blocks
        block content
        block footer

        //- Footer
        include ../includes/footer.pug

        //- Include scripts | src
        include ../includes/scripts.pug

        //- Add block for script pages single.
        block scripts 

