//- IMPORTANT! Do not change this file unless you know what you are doing.
//- Remember that "block" in the Pug requires indentation to be inserted.

<!DOCTYPE html>
html.no-js(lang="en")
    include ../includes/head.pug
    body
        main.main
            //- URL your site.
            include ../../../lib/pug/url.pug
            - var baseurl = "/";
            - var urlsite = url + baseurl;
            
            //- Include navbar global
            include ../includes/navbar.pug

            //- Create blocks
            block content
            block footer

            //- Footer
            include ../includes/footer.pug

            //- Include scripts | src
            include ../includes/scripts.pug

            //- Add block for script pages single.
            block scripts 

