extends ../../templates/layouts/main.pug

//- You can add another navbar through the "navbar block" below.
block navbar

block content
    //- This is an example page.
    div.about
        div.container
            div.row
                div.about__content
                    h1 About
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus id iste quos? Aut, tempora. Ad, iusto? Veritatis blanditiis explicabo saepe laborum? Ex provident nam quo similique obcaecati ullam quibusdam?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus id iste quos? Aut, tempora. Ad, iusto? Veritatis blanditiis explicabo saepe laborum? Ex provident nam quo similique obcaecati ullam quibusdam?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus id iste quos? Aut, tempora. Ad, iusto? Veritatis blanditiis explicabo saepe laborum? Ex provident nam quo similique obcaecati ullam quibusdam?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus id iste quos? Aut, tempora. Ad, iusto? Veritatis blanditiis explicabo saepe laborum? Ex provident nam quo similique obcaecati ullam quibusdam?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus id iste quos? Aut, tempora. Ad, iusto? Veritatis blanditiis explicabo saepe laborum? Ex provident nam quo similique obcaecati ullam quibusdam?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus id iste quos? Aut, tempora. Ad, iusto? Veritatis blanditiis explicabo saepe laborum? Ex provident nam quo similique obcaecati ullam quibusdam?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus id iste quos? Aut, tempora. Ad, iusto? Veritatis blanditiis explicabo saepe laborum? Ex provident nam quo similique obcaecati ullam quibusdam?

                                                
block scripts
    script(src="/assets/js/about.min.js")
                    