extends ../../layouts/default.pug

block head
    link(rel="stylesheet", href="/assets/css/layouts/about.min.css")

block content
    main.container.d-flex-inline.justify-content-center.about(role="main")
        div.row.d-flex.align-self-center
            div.col-12 
                div.mb-5.about__text
                    h1 About
                    p O Skeleton Go!Sync usa as melhores ferramentas para que você tenha 
                        | o desenvolvimento do seu site de uma maneira mais agíl e prática. 

                    p * Para a criação dos HTML's, o  Skeleton Go!Sync usa o Pug, uma boa prática 
                        | para economizar linhas de código e tempo.

                    p * O estilo do seu site também terá um desenvolvimento agíl através do SASS, 
                        | onde você pode criar uma folha de estilo para cada página com os vários 
                        | recursos que o SASS disponibiliza. 

                    p * Vivemos em tempos de dispositivos mobile, pensando nisso, o Skeleton Go!Sync 
                        | incorporou o Bootstrap para você tenha um desenvolvimento com compatibilidade 
                        | em todos tipos de dispositivos.

                    //- 
                    p O Skeleton Go!Sync usa as melhores ferramentas para que você tenha 
                        | o desenvolvimento do seu site de uma maneira mais agíl e prática. 

                    p * Para a criação dos HTML's, o  Skeleton Go!Sync usa o Pug, uma boa prática 
                        | para economizar linhas de código e tempo.

                    p * O estilo do seu site também terá um desenvolvimento agíl através do SASS, 
                        | onde você pode criar uma folha de estilo para cada página com os vários 
                        | recursos que o SASS disponibiliza. 

                    p * Vivemos em tempos de dispositivos mobile, pensando nisso, o Skeleton Go!Sync 
                        | incorporou o Bootstrap para você tenha um desenvolvimento com compatibilidade 
                        | em todos tipos de dispositivos.

                    p O Skeleton Go!Sync usa as melhores ferramentas para que você tenha 
                        | o desenvolvimento do seu site de uma maneira mais agíl e prática. 

                    p * Para a criação dos HTML's, o  Skeleton Go!Sync usa o Pug, uma boa prática 
                        | para economizar linhas de código e tempo.

                    p * O estilo do seu site também terá um desenvolvimento agíl através do SASS, 
                        | onde você pode criar uma folha de estilo para cada página com os vários 
                        | recursos que o SASS disponibiliza. 

                    p * Vivemos em tempos de dispositivos mobile, pensando nisso, o Skeleton Go!Sync 
                        | incorporou o Bootstrap para você tenha um desenvolvimento com compatibilidade 
                        | em todos tipos de dispositivos.                                                

                