extends ../../layouts/default.pug

block head
    link(rel="stylesheet", href="/assets/css/layouts/about.min.css")

block content
    div.container.d-flex-inline.justify-content-center.about
        div.row.d-flex.align-self-center
            div.col-12 
                div.mb-5.about__text Skeleton Go!Sync makes it easy to develop HTML's projects in a 
                    | way that the monitoring of all changes in Pug, Stylesheets and 
                    | Javascripts are made automatically through tasks http://gulpjs.com/, 
                    | https://github.com/williamcanin/skeleton-gosync/blob/master/package.json
                    | and the https://www.browsersync.io. To forget the F5 on browser ;)
        div.row.align-self-center.about__wrapper
            div.col-6
                span
                    a.btn.btn-light.about__link(href="https://github.com/williamcanin/skeleton-gosync", 
                    target="_blank") View in GitHub 
            div.col-6
                span
                    a.btn.btn-light.about__link(href="https://github.com/williamcanin/skeleton-gosync/issues",
                    target="_blank") Report issues
                