extends ../../layouts/default.pug

block head
    link(rel="stylesheet", href="/assets/css/about.min.css")

block content
   main.container
        div.row
            div.col-12
                span
                    a(href="https://github.com/williamcanin/skeleton-gosync", 
                    target="_blank") View in GitHub 
                span
                    a(href="https://github.com/williamcanin/skeleton-gosync/issues",
                    target="_blank") Report issues
                