block footer
div.container-fluid.fixed-bottom.footer  
    div.row.footer__wrapper
        div.col-sm-4
            p.text-center.text-muted Copyright (c) 2019 - Skeleton Go!Sync
        div.col-sm-4 
            p.text-center.text-muted Simple boilerplate for doing complex things
        div.col-sm-4 
            p.text-center.text-muted Create by 
                a.footer__link(href="https://williamcanin.github.io", target="_blank") William C. Canin