head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    //- Normalize
    //- script(src="/assets/vendor/normalize/normalize.min.css")
    //- Modernizr
    //- script(src="/assets/js/modernizr.min.js") 
    //- Bootstrap CSS
    link(rel="stylesheet", href="/assets/vendor/bootstrap/css/bootstrap.min.css")
    //- Navbar Global
    link(rel="stylesheet", href="/assets/css/navbar.min.css")
    