//- Below is the default head. You can and should change according to your site.
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    //- Bootstrap CSS - Reboot
    link(rel="stylesheet", href="/assets/vendor/bootstrap/css/bootstrap-reboot.min.css")

    //- Bootstrap CSS
    link(rel="stylesheet", href="/assets/vendor/bootstrap/css/bootstrap.min.css")
    //- Style Global
    link(rel="stylesheet", href="/assets/css/style.min.css")

    //- The line below will capture other head in case you create in other pages pug
    block head