head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    //- Bootstrap CSS
    link(rel="stylesheet", href="/assets/vendor/bootstrap/css/bootstrap.min.css")
    //- Style Global
    link(rel="stylesheet", href="/assets/css/includes/global.min.css")    
    //- Navbar Global
    link(rel="stylesheet", href="/assets/css/includes/navbar.min.css")
    //- Footer Global
    link(rel="stylesheet", href="/assets/css/includes/footer.min.css")

    block head