nav.navbar.navbar-expand-md.navdefault
    a.navdefault__link.navbar-brand.navdefault__brand(href="/") < Skeleton Go!Sync />
    button.navbar-toggler.d-lg-none(type="button", data-target="#collapsibleNavId", 
        aria-controls="collapsibleNavId",  aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse(id="collapsibleNavId")
        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.nav-item
                a.nav-link.navdefault__link(href="/") Home

            li.nav-item
                a.nav-link.navdefault__link(href="about/") About
