//- Put here the javascript that will run on all pages.

//- JQuery
script(src="/assets/vendor/jquery/jquery.min.js")
//- Bootstrap JS
script(src="/assets/vendor/bootstrap/js/bootstrap.min.js")
script(src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js")

//- Google Analytics: change UA-XXXXX-X to be your site's ID in GoogleAnalyticsUA: 

- var GoogleAnalyticsUA = "";

if GoogleAnalyticsUA
    script.
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','#{GoogleAnalyticsUA}','auto');ga('send','pageview');

